* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* //Styling banner
 */
.banner {
  border: none;
  overflow: hidden;
}
.banner_txt {
  /* border: 2px solid red; */
  position: absolute;
  top: 15em;
  color: white;
  left: 15em;
  text-align: center;
  font-size: large;
}
